body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #1e1e1e;
    color: white;
}

header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}



nav a {
    color: #b01a00;
    text-decoration: none;

}

nav a {

}

nav {
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: space-between;

}

nav a:hover {
    color: #7b1b38;
}

.intro {
        font-size: 25px;
        line-height: 1.5x;
}
