body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #1e1e1e;
    color: white;
}

header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}



nav a {
    color: #b01a00;
    text-decoration: none;

}

nav a {

}

nav {
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: space-between;

}

nav a:hover {
    color: #7b1b38;
}

.intro {
        font-size: 25px;
        line-height: 1.5x;
}

.overview {

	display: flex;
	gap: 90px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

}


.panel {

	border: 3px solid gray;
	padding: 30px;
	transition: transform 0.2s;
}

.panel:hover {
        background-color: #560319;
        border: 3px solid white;
        transform: translateY(-8px);


}

.panel {
    flex-grow: 1;
}

